include layout

.header.header-detail.header-blog
	h1 Blogs
.main
	ul
		each blog in ublog
			li 
				.blog
					h3: a(href= '/blog/'+blog._id)= blog.title
					p= blog.author
					p= blog.main
					p: a(href= '/blog/'+blog._id) Read More

