include layout
.header
.main
	form(action='/posts/create', method='post')
		input(type='text', name='title')
		br
		textarea(name='main', rows="20" cols="100")
		br
		input(type='submit', value='Submit')


